
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand pointer" routerLink="/home">XIAOYU'S BOOKSTORE</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a mat-button color="accent" class="btn btn-default" routerLink="/bookList">BOOK</a></li>
				<form (ngSubmit)="onSearchByTitle()" class="form-inline">
					<div class="form-group">
						<input type="text" name="searcyByTitle" [(ngModel)]="keyword" class="form-control" placeholder="Book Title" />
					</div>
					<button mat-raised-button color="accent" type="submit" class="btn btn-default">Search</button>
				</form>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li *ngIf="!loggedIn">
					<a mat-button color="accent" routerLink="/myAccount">MY ACCOUNT</a>
				</li>
				<li *ngIf="loggedIn">
					<a mat-button color="accent" routerLink="/shoppingCart">SHOPPING CART</a>
				</li>
				<li *ngIf="loggedIn">
					<a mat-button color="accent" routerLink="/myProfile">MY PROFILE</a>
				</li>
				<li *ngIf="loggedIn">
					<a mat-button color="accent" (click)="logout()">LOGOUT</a>
				</li>
			</ul>
		</div>
	</div>
</nav>